*.vs
localServer/localServer/obj
localServer/localServer/bin
localServer/packages
localServer/SocketServer/obj
localServer/SocketServer/bin
clientServerTest/Library
clientServerTest/Logs
clientServerTest/obj
clientServerTest/Temp
clientServerTest/Library